<!DOCTYPE html>
<head>
    <title>考勤管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap-css -->
    <link rel="stylesheet" href="css/bootstrap.min.css" >
    <!-- //bootstrap-css -->
    <!-- Custom CSS -->
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <link href="css/style-responsive.css" rel="stylesheet"/>
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="css/font.css" type="text/css"/>
    <link href="css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="css/morris.css" type="text/css"/>
    <!-- calendar -->
    <link rel="stylesheet" href="css/monthly.css">
    <!-- //calendar -->
    <!-- //font-awesome icons -->
    <script src="js/jquery2.0.3.min.js"></script>
    <script src="js/raphael-min.js"></script>
    <script src="js/morris.js"></script>
</head>
<body>

<script>
    function getThisMonthRecord() {
        var account = document.getElementById("account").value;
        $.ajax({
            type:"post",
            data:{"account":account},
            url:"getThisMonthRecord",
            async:false,
            success:function(data){
                $("#allResult").html("");
                if(data.length == 0){
                    alert("暂无数据");
                }else{
                    for(var i = 0 ; i < data.length ; i++){
                        $("#allResult").append("<tr>"+"<td>"+data[i].account+"</td>"+"<td>"+data[i].signDay+"</td>"+"<td>"+data[i].result+"</td>"+"</tr>");
                    }
                }
            }
        })
    }

    function getLastMonthRecord() {
        var account = document.getElementById("account").value;
        $.ajax({
            type:"post",
            data:{"account":account},
            url:"getLastMonthRecord",
            async:false,
            success:function(data){
                $("#allResult").html("");
                if(data.length == 0){
                    alert("暂无数据");
                }else{
                    for(var i = 0 ; i < data.length ; i++){
                        $("#allResult").append("<tr>"+"<td>"+data[i].account+"</td>"+"<td>"+data[i].signDay+"</td>"+"<td>"+data[i].result+"</td>"+"</tr>");
                    }
                }
            }
        })
    }
</script>

<section id="container">
    <!--header start-->
    <header class="header fixed-top clearfix">
        <!--logo start-->
        <div class="brand">
            <a href="toAdminIndex" class="logo">
                VISITORS
            </a>
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars"></div>
            </div>
        </div>

        <div class="top-nav clearfix">
            <!--search & user info start-->
            <ul class="nav pull-right top-menu">
                <li>
                    <input type="text" class="form-control search" placeholder=" Search">
                </li>
                <!-- user login dropdown start-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <img alt="" src="images/2.png">
                        <span class="username" th:text="${session.user.name}">

                        </span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <li><a href="forelogout"><i class="fa fa-key"></i> Log Out</a></li>
                    </ul>
                </li>
                <!-- user login dropdown end -->

            </ul>
            <!--search & user info end-->
        </div>
    </header>
    <!--header end-->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse">
            <!-- sidebar menu start-->
            <div class="leftside-navigation">
                <ul class="sidebar-menu" id="nav-accordion">
                    <li>
                        <a class="active" href="toDeptManage">
                            <i class="fa fa-dashboard"></i>
                            <span>部门管理</span>
                        </a>
                    </li>

                    <li>
                        <a href="toEmployeeManage">
                            <i class="fa fa-bullhorn"></i>
                            <span>人员管理</span>
                        </a>
                    </li>


                    <li>
                        <a href="toProfessional">
                            <i class="fa fa-user"></i>
                            <span>职称管理</span>
                        </a>
                    </li>

                    <li>
                        <a href="toLeave">
                            <i class="fa fa-user"></i>
                            <span>请假管理</span>
                        </a>
                    </li>

                    <li>
                        <a href="toAttendance">
                            <i class="fa fa-user"></i>
                            <span>考勤管理</span>
                        </a>
                    </li>

                    <li>
                        <a href="toBussinessTrip">
                            <i class="fa fa-user"></i>
                            <span>出差管理</span>
                        </a>
                    </li>

                    <li>
                        <a href="toAward">
                            <i class="fa fa-user"></i>
                            <span>奖励管理</span>
                        </a>
                    </li>


                    <li>
                        <a href="toSalary">
                            <i class="fa fa-user"></i>
                            <span>工资管理</span>
                        </a>
                    </li>

                    <li>
                        <a href="toHRManager">
                            <i class="fa fa-user"></i>
                            <span>人事调动</span>
                        </a>
                    </li>

                </ul>            </div>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">

        <section class="wrapper">
            <div style="height: 50px;margin-left: 25%;">
                <input id="account" style="width: 300px;font-size: 16px;height: 30px;"><button class="btn btn-primary" onclick="getThisMonthRecord()">查询当月考勤记录</button><button class="btn btn-primary" onclick="getLastMonthRecord()">查询上个月考勤记录</button>
            </div>
            <br><br>
            <div>
                <h3>考勤明细</h3><br>
                <table class="table" style="font-size: 18px;background-color: white;">
                    <thead>
                        <tr>
                            <td>员工</td><td>日期</td><td>考勤结果</td>
                        </tr>
                    </thead>
                    <tbody id="allResult"></tbody>
                </table>
            </div>
        </section>

    </section>
    <!--main content end-->
</section>
<script src="js/bootstrap.js"></script>
<script src="js/jquery.dcjqaccordion.2.7.js"></script>
<script src="js/scripts.js"></script>
<script src="js/jquery.slimscroll.js"></script>
<script src="js/jquery.nicescroll.js"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/flot-chart/excanvas.min.js"></script><![endif]-->
<script src="js/jquery.scrollTo.js"></script>
<!-- morris JavaScript -->

<!-- calendar -->
<script type="text/javascript" src="js/monthly.js"></script>

<!-- //calendar -->
</body>
</html>
