<!DOCTYPE html>
<head>
    <title>奖励管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap-css -->
    <link rel="stylesheet" href="css/bootstrap.min.css" >
    <!-- //bootstrap-css -->
    <!-- Custom CSS -->
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <link href="css/style-responsive.css" rel="stylesheet"/>
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="css/font.css" type="text/css"/>
    <link href="css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="css/morris.css" type="text/css"/>
    <!-- calendar -->
    <link rel="stylesheet" href="css/monthly.css">
    <!-- //calendar -->
    <!-- //font-awesome icons -->
    <script src="js/jquery2.0.3.min.js"></script>
    <script src="js/raphael-min.js"></script>
    <script src="js/morris.js"></script>
</head>
<body>
<script>
    $(function(){
        getAllAward();
    })

    function format(inputTime) {
        var date = new Date(inputTime);
        var y = date.getFullYear();
        var m = date.getMonth() + 1;
        m = m < 10 ? ('0' + m) : m;
        var d = date.getDate();
        d = d < 10 ? ('0' + d) : d;
        var h = date.getHours();
        h = h < 10 ? ('0' + h) : h;
        var minute = date.getMinutes();
        var second = date.getSeconds();
        minute = minute < 10 ? ('0' + minute) : minute;
        second = second < 10 ? ('0' + second) : second;
        return y + '-' + m + '-' + d;
    }

    function getAllAward(){
        $.ajax({
            type:"post",
            url:"getAllAwardRecord",
            async:false,
            success:function(data) {
                $("#allAward").html("");
                if (data.length == 0) {
                    alert("暂无数据");
                } else {
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].status == "O") {
                            $("#allAward").append("<tr>" + "<td>" + data[i].account + "</td>" + "<td>" + data[i].reason + "</td>" + "<td>" + data[i].way + "</td>" + "<td>" + format(data[i].datetime) + "</td>" + "<td>" + '<button class="btn btn-primary" onclick="changeStatus( '+data[i].id+')">'+"确认发放</button>" + "</td>" + "</tr>");
                        } else {
                            $("#allAward").append("<tr>" + "<td>" + data[i].account + "</td>" + "<td>" + data[i].reason + "</td>" + "<td>" + data[i].way + "</td>" + "<td>" + format(data[i].datetime) + "</td>" + "<td>" + "已发放" + "</td>" + "</tr>");
                        }
                    }
                }

            }
        })
    }

    function createAward() {
        var account = document.getElementById("account").value;
        var reason = document.getElementById("reason").value;
        var way = document.getElementById("way").value;
        var data={"account":account , "reason":reason , "way":way};
        var url = "writeAward";
        $.ajax({
            type:"post",
            data:data,
            url:url,
            async:false,
            success:function(data){
                alert("数据写入成功");
                getAllAward();
            }
        })
    }

    function changeStatus(id) {
        $.ajax({
            type:"post",
            data:{"id":id},
            url:"changeStatus",
            async:false,
            success:function (data) {
                alert("奖励已发放");
                getAllAward();
            }
        })
    }
</script>
<section id="container">
    <!--header start-->
    <header class="header fixed-top clearfix">
        <!--logo start-->
        <div class="brand">
            <a href="toAdminIndex" class="logo">
                VISITORS
            </a>
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars"></div>
            </div>
        </div>

        <div class="top-nav clearfix">
            <!--search & user info start-->
            <ul class="nav pull-right top-menu">
                <li>
                    <input type="text" class="form-control search" placeholder=" Search">
                </li>
                <!-- user login dropdown start-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <img alt="" src="images/2.png">
                        <span class="username" th:text="${session.user.name}">

                        </span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <li><a href="forelogout"><i class="fa fa-key"></i> Log Out</a></li>
                    </ul>
                </li>
                <!-- user login dropdown end -->

            </ul>
            <!--search & user info end-->
        </div>
    </header>
    <!--header end-->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse">
            <!-- sidebar menu start-->
            <div class="leftside-navigation">
                <ul class="sidebar-menu" id="nav-accordion">
                    <li>
                        <a class="active" href="toDeptManage">
                            <i class="fa fa-dashboard"></i>
                            <span>部门管理</span>
                        </a>
                    </li>

                    <li>
                        <a href="toEmployeeManage">
                            <i class="fa fa-bullhorn"></i>
                            <span>人员管理</span>
                        </a>
                    </li>


                    <li>
                        <a href="toProfessional">
                            <i class="fa fa-user"></i>
                            <span>职称管理</span>
                        </a>
                    </li>

                    <li>
                        <a href="toLeave">
                            <i class="fa fa-user"></i>
                            <span>请假管理</span>
                        </a>
                    </li>

                    <li>
                        <a href="toAttendance">
                            <i class="fa fa-user"></i>
                            <span>考勤管理</span>
                        </a>
                    </li>

                    <li>
                        <a href="toBussinessTrip">
                            <i class="fa fa-user"></i>
                            <span>出差管理</span>
                        </a>
                    </li>

                    <li>
                        <a href="toAward">
                            <i class="fa fa-user"></i>
                            <span>奖励管理</span>
                        </a>
                    </li>


                    <li>
                        <a href="toSalary">
                            <i class="fa fa-user"></i>
                            <span>工资管理管理</span>
                        </a>
                    </li>

                    <li>
                        <a href="toHRManager">
                            <i class="fa fa-user"></i>
                            <span>人事调动</span>
                        </a>
                    </li>

                </ul>            </div>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">

        <section class="wrapper">
            <div>
                <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">新建奖励</button>
            </div>

            <div class="modal fade" id="myModal"  data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">创建新奖励记录</h4>
                        </div>
                        <div class="modal-body">

                            <table style="font-size: 18px;background-color: white;width:300px;">
                                <tr>
                                    <td style="height:50px;">奖励人</td>
                                    <td style="height:50px;"><input id="account" style="font-size: 18px;width:200px;"></td>
                                </tr>
                                <tr>
                                    <td style="height:50px;">奖励原因</td>
                                    <td style="height:100px;">
                                        <textarea id="reason" class="form-control"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:50px;">奖励方式</td>
                                    <td style="height:50px;"><input id="way" style="font-size: 18px;width:200px;"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default" type="button">关闭</button>
                            <button class="btn btn-primary" type="button" onclick="createAward()">提交</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>

            <div>
                <table class="table" style="background-color: white;font-size: 18px;">
                    <thead>
                        <tr>
                            <td>奖励人员</td><td>奖励原因</td><td>奖励形式</td><td>时间</td><td>奖励发放</td>
                        </tr>
                    </thead>
                    <tbody id="allAward"></tbody>
                </table>
            </div>
        </section>

    </section>
    <!--main content end-->
</section>
<script src="js/bootstrap.js"></script>
<script src="js/jquery.dcjqaccordion.2.7.js"></script>
<script src="js/scripts.js"></script>
<script src="js/jquery.slimscroll.js"></script>
<script src="js/jquery.nicescroll.js"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/flot-chart/excanvas.min.js"></script><![endif]-->
<script src="js/jquery.scrollTo.js"></script>
<!-- morris JavaScript -->

<!-- calendar -->
<script type="text/javascript" src="js/monthly.js"></script>

<!-- //calendar -->
</body>
</html>
