<!DOCTYPE html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap-css -->
    <link rel="stylesheet" href="css/bootstrap.min.css" >
    <!-- //bootstrap-css -->
    <!-- Custom CSS -->
    <link href="css/style2.css" rel='stylesheet' type='text/css' />
    <link href="css/style-responsive.css" rel="stylesheet"/>
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="css/font.css" type="text/css"/>
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <script src="js/jquery2.0.3.min.js"></script>
</head>
<body>
<script>
    function login(){
        var account = document.getElementById("account").value;
        var password = document.getElementById("password").value;
        var data={"account":account , "password":password};
        var url = "doLogin";
        $.ajax({
            type:"post",
            data:data,
            url:url,
            async:false,
            success:function(data){
                if(data == 0){
                    alert("账号或密码错误");
                }else if(data == 1){
                    window.location.href="toUserIndex";
                }else  if(data == 2){
                    window.location.href="toAdminIndex";
                }
            },
            error:function () {
                alert("登录失败");
            }
        })
    }
</script>
<style>
    ::-webkit-input-placeholder{/*Webkit browsers*/
        　　　　color:#999;
        　　　　font-size:16px;
        　　　　}
</style>
<div class="log-w3">
    <table style="margin-top: 17%;margin-left: 17%;width:300px;">
        <tr>
            <td style="height:110px;text-align: center;" >
                <span style="font-size: 36px;color: #54da73"><strong>用户登录</strong></span>
            </td>
        </tr>
        <tr>
            <td style="height: 80px;" >
                <img src="images/icon_06.jpg"><input id="account" type="text" style="border:0;margin-left:1%;width:250px;height: 35px;font-size: 18px;outline: none;" placeholder="输入你的账号" required="">
            </td>
        </tr>
        <tr>
            <td style="height: 60px;" >
                <img src="images/icon_08.jpg"><input id="password" type="password" style="border:0;margin-left:2%;width:250px;height: 35px;font-size: 18px;outline: none;" placeholder="输入你的密码" required="">
            </td>
        </tr>
        <tr>
            <td style="height: 40px;text-align: right;">
                <span><input type="checkbox" />记住我</span><span style="margin-left: 26%;">还没有账号？<a href="toRegister">立即注册</a></span>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;height: 80px;">
                <button class="btn btn-success" style="width: 250px;" onclick="login()">登录</button>
            </td>
        </tr>
    </table>
</div>
<script src="js/bootstrap.js"></script>
<script src="js/jquery.dcjqaccordion.2.7.js"></script>
<script src="js/scripts.js"></script>
<script src="js/jquery.slimscroll.js"></script>
<script src="js/jquery.nicescroll.js"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/flot-chart/excanvas.min.js"></script><![endif]-->
<script src="js/jquery.scrollTo.js"></script>
</body>
</html>
