<!DOCTYPE html>
<head>
    <title>留言板</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap-css -->
    <link rel="stylesheet" href="css/bootstrap.min.css" >
    <!-- //bootstrap-css -->
    <!-- Custom CSS -->
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <link href="css/style-responsive.css" rel="stylesheet"/>
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="css/font.css" type="text/css"/>
    <link href="css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="css/morris.css" type="text/css"/>
    <!-- calendar -->
    <link rel="stylesheet" href="css/monthly.css">
    <!-- //calendar -->
    <!-- //font-awesome icons -->
    <script src="js/jquery2.0.3.min.js"></script>
    <script src="js/raphael-min.js"></script>
    <script src="js/morris.js"></script>
</head>
<body>
<section id="container">
    <!--header start-->
    <header class="header fixed-top clearfix">
        <!--logo start-->
        <div class="brand">
            <a href="toUserIndex" class="logo">
                VISITORS
            </a>
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars"></div>
            </div>
        </div>

        <div class="top-nav clearfix">
            <!--search & user info start-->
            <ul class="nav pull-right top-menu">

                <!-- user login dropdown start-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <img alt="" src="images/2.png">
                        <span class="username" th:text="${session.user.name}">

                        </span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <li><a href="forelogout"><i class="fa fa-key"></i> Log Out</a></li>
                    </ul>
                </li>
                <!-- user login dropdown end -->

            </ul>
            <!--search & user info end-->
        </div>
    </header>
    <!--header end-->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse">
            <!-- sidebar menu start-->
            <div class="leftside-navigation">
                <ul class="sidebar-menu" id="nav-accordion">
                    <li>
                        <a class="active" href="toNews">
                            <i class="fa fa-dashboard"></i>
                            <span>新闻动态</span>
                        </a>
                    </li>


                    <li>
                        <a href="toIntroduce">
                            <i class="fa fa-bullhorn"></i>
                            <span>人力资源部介绍</span>
                        </a>
                    </li>

                    <li>
                        <a href="toRecruitment">
                            <i class="fa fa-user"></i>
                            <span>招聘信息</span>
                        </a>
                    </li>

                    <li>
                        <a href="toMessage">
                            <i class="fa fa-glass"></i>
                            <span>留言板</span>
                        </a>
                    </li>
                </ul>            </div>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">

        <section class="wrapper">
            <div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    新建留言
                </button>
            </div>
            <h1 style="text-align: center">留言板</h1>
            <div>
                <table id="allMessage" class="table" border="1px" style="background-color: white;">

                </table>
            </div>
            <div class="modal fade" id="myModal"  data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">留言板</h4>
                        </div>
                        <div class="modal-body">
                            <p>写下你的留言</p>
                            <textarea id="message" class="form-control"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default" type="button">关闭</button>
                            <button class="btn btn-primary" type="button" onclick="editMessage()">提交</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
        </section>

    </section>
    <!--main content end-->
</section>
<script src="js/bootstrap.js"></script>
<script src="js/jquery.dcjqaccordion.2.7.js"></script>
<script src="js/scripts.js"></script>
<script src="js/jquery.slimscroll.js"></script>
<script src="js/jquery.nicescroll.js"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/flot-chart/excanvas.min.js"></script><![endif]-->
<script src="js/jquery.scrollTo.js"></script>
<!-- morris JavaScript -->

<!-- calendar -->
<script type="text/javascript" src="js/monthly.js"></script>

<script>

    function myTime(date){
        var arr=date.split("T");
        var d=arr[0];
        var darr = d.split('-');

        var t=arr[1];
        var tarr = t.split('.000');
        var marr = tarr[0].split(':');

        var dd = parseInt(darr[0])+"/"+parseInt(darr[1])+"/"+parseInt(darr[2]);
        return dd;
    }

    $(function(){
        getAllMessage();
    })
    function editMessage(){
        var message = document.getElementById("message").value;
        $.ajax({
            type:"post",
            data:{"message":message},
            url:"editMessage",
            async:false,
            success:function (data) {
                getAllMessage();
                alert("留言成功");
            },
            error:function () {
                alert("留言失败");
            }
        })
    }
    function getAllMessage() {
        $.ajax({
            type:"post",
            url:"getAllMessage",
            async:false,
            success:function (data) {
                $("#allMessage").html("");
                for(var i = 0 ; i < data.length ; i++){
                    $("#allMessage").append("<tr>+" +
                            '<td style="width: 600px;height:100px;font-size: 22px;">'+data[i].content+"</td>"+"</tr>"+
                            "<tr>"+'<td style="width: 600px;font-size: 14px;text-align: right">'+data[i].name+"于"+myTime(data[i].dataTime)+"留言"+"</td>"+
                        "</tr>"+"<tr>"+"<td>"+""+"</td>"+"</tr>");
                }
            }
        })
    }


</script>
</body>
</html>
