<!DOCTYPE html>
<head>
    <title>主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap-css -->
    <link rel="stylesheet" href="css/bootstrap.min.css" >
    <!-- //bootstrap-css -->
    <!-- Custom CSS -->
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <link href="css/style-responsive.css" rel="stylesheet"/>
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="css/font.css" type="text/css"/>
    <link href="css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="css/morris.css" type="text/css"/>
    <!-- calendar -->
    <link rel="stylesheet" href="css/monthly.css">
    <!-- //calendar -->
    <!-- //font-awesome icons -->
    <script src="js/jquery2.0.3.min.js"></script>
    <script src="js/raphael-min.js"></script>
    <script src="js/morris.js"></script>
</head>
<body>
<section id="container">
    <!--header start-->
    <header class="header fixed-top clearfix">
        <!--logo start-->
        <div class="brand">
            <a href="toUserIndex" class="logo">
                VISITORS
            </a>
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars"></div>
            </div>
        </div>

        <div class="top-nav clearfix">
            <!--search & user info start-->
            <ul class="nav pull-right top-menu">

                <!-- user login dropdown start-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <img alt="" src="images/2.png">
                        <span class="username" th:text="${session.user.name}">

                        </span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <li><a href="forelogout"><i class="fa fa-key"></i> Log Out</a></li>
                    </ul>
                </li>
                <!-- user login dropdown end -->

            </ul>
            <!--search & user info end-->
        </div>
    </header>
    <!--header end-->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse">
            <!-- sidebar menu start-->
            <div class="leftside-navigation">
                <ul class="sidebar-menu" id="nav-accordion">
                    <li>
                        <a class="active" href="toNews">
                            <i class="fa fa-dashboard"></i>
                            <span>新闻动态</span>
                        </a>
                    </li>


                    <li>
                        <a href="toIntroduce">
                            <i class="fa fa-bullhorn"></i>
                            <span>人力资源部介绍</span>
                        </a>
                    </li>

                    <li>
                        <a href="toRecruitment">
                            <i class="fa fa-user"></i>
                            <span>招聘信息</span>
                        </a>
                    </li>

                    <li>
                        <a href="toMessage">
                            <i class="fa fa-glass"></i>
                            <span>留言板</span>
                        </a>
                    </li>

                    <li>
                        <a href="toApply">
                            <i class="fa fa-glass"></i>
                            <span>流程申请</span>
                        </a>
                    </li>
                </ul>            </div>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">

        <section class="wrapper">

            <div style="margin-left: 20%;margin-top: 5%;width:800px;background-color: white;">
                <h1 style="text-align: center">甘肃天水四月飞雪</h1>
                <br>
                <br>
                <br>
                <img src="images/0404.png" style="width:600px;margin-left: 12%">
                <br>
                <br>
                <br>
                <h3>4月3日，甘肃，一场突如其来的春雪覆盖了天水山区初春时节的草长莺飞。放眼望去，大地万物与白雪相映瞬间妙趣横生，山岭沟壑处，雾凇悬挂摇曳风中，妙曼多姿。刚刚吐露绿芽树木一夜间换上雪装，宛如仙境。<br>
                    当天上午9时许，秦州区太京镇、藉口镇、秦岭镇、杨家寺镇沿线看到，春雪簌簌落下，雪打枝头，一簇簇正在盛开的桃花上、绿油油的麦苗上洁白一片，放眼望去，大地万物与白雪相映瞬间妙趣横生，美景如水墨画般晕染天成。
                </h3>
            </div>

        </section>

    </section>
    <!--main content end-->
</section>
<script src="js/bootstrap.js"></script>
<script src="js/jquery.dcjqaccordion.2.7.js"></script>
<script src="js/scripts.js"></script>
<script src="js/jquery.slimscroll.js"></script>
<script src="js/jquery.nicescroll.js"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/flot-chart/excanvas.min.js"></script><![endif]-->
<script src="js/jquery.scrollTo.js"></script>
<!-- morris JavaScript -->

<!-- calendar -->
<script type="text/javascript" src="js/monthly.js"></script>

<!-- //calendar -->
</body>
</html>
